    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Southwest EOU Insights</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" profile>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div style="margin-top:50px"></div>

    <div class="container">
        <div id="whatsnew" data-version="3" class="alert alert-info" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4>Check this out!</h4> 
          You can now use TPIDs instead of Account Names when filtering your accounts which is much less error-prone. Click the <em>Set accounts</em> button to try it!
        </div>
        <my-report></my-report>
    </div><!-- /.container -->
