/* You can add global styles to this file, and also import other style files */
body { 
    background-color: #f1f1f1;
}
#report-container iframe {
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 10px #c9c9c9;
}
.btn, .alert, .dropdown-menu { 
    border-radius: 0 !important;
}
.clear {
    clear: both;
}
#carmenbot {
    width: 500px;
    height: 350px;
    border-width: 1px;
    border-style: solid;
    border-color: #bbb;
    box-shadow: 0 0 10px #c9c9c9;
    position: absolute;
    right: 20px;
    margin-bottom: 20px;
    /* visibility: hidden; */
}
.wc-header { 
    background-color: #337ab7;
}
.wc-message-groups {
    background-color: #fff;
}
.wc-console {
    background-color: #fff;
}